@import '~@qneyraud/q-stylus'

darkblue = #15202b

html, body
  background-color lighten(darkblue, 5)
  font-family Helvetica, sans-serif
  min-height 100vh

main
  overflow-x hidden

  &:not([v-cloak])
    display block !important

.routes
  size(8)
  margin-top 75px
  overflow hidden

.route
  position relative
  margin-top 25px

  &.pending_request .route-main
    &:before
      background-color orange

  &.error_request .route-main
    &:before
      background-color red

  &.expanded .route-add
    max-height 100px

.route-main
  position relative
  display flex
  height 200px
  padding 35px 25px
  cursor pointer
  background-color #F4EDDE
  border-top-right-radius 5px
  border-bottom-right-radius 5px

  &:before
    content ''
    position absolute
    top 0
    left 0
    bottom 0
    width 10px
    background-color transparent
    transition all 0.3s

.route-add
  max-height 0
  height 100%
  background-color #fff
  margin 0 25px
  overflow hidden
  transition max-height 0.7s easeInCubic

.route-add-inner
  padding 35px 25px

.route-infos
  position relative
  display flex
  flex-direction column
  justify-content center

  .method
    position absolute
    top 50%
    left 0
    transform translate(0, -50%)
    font-weight 900
    font-size 130px
    color rgba(darkblue, 0.15)
    text-transform uppercase
    no-pointer()


.routes-enter-active, .routes-leave-active {
  transition: transform 0.7s easeInOutCubic, opacity 0.4s easeInQuad;
}
.routes-enter, .routes-leave-to {
  opacity: 0;
  transform: translateY(60px);
}
